* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  flex: 1 1 calc(33.333% - 24px);
}
.gallery-item img {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
}

.feedback-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
}

.feedback-form .input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#sumbitButton {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#sumbitButton:hover {
  background-color: #007bff;
}
